<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.AccommodationMapper">
    <select id="findAllAccommodation" resultType="com.cqu.stu_manager.pojo.Accommodation">
        select * from accommodation_information
    </select>
    <select id="findStuAccommodation" resultType="com.cqu.stu_manager.pojo.Accommodation">
        select * from accommodation_information where accommodation_information_stu_no=#{stuno}
    </select>
    <update id="updateAccommodationInfo" parameterType="com.cqu.stu_manager.pojo.Accommodation">
        update accommodation_information
        set  accommodation_information_no = #{accommodation_information_no},
        accommodation_information_room_no = #{accommodation_information_room_no},
        accommodation_information_bed = #{accommodation_information_bed},
        accommodation_information_building = #{accommodation_information_building},
        accommodation_information_ismain = #{accommodation_information_ismain}
        where  accommodation_information_stu_no = #{accommodation_information_stu_no}
    </update>

</mapper>