<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.ClassMapper">
    <select id="findAllClass" resultType="com.cqu.stu_manager.pojo.Class">
        select * from class
    </select>
    <update id="updateClassinfo" parameterType="com.cqu.stu_manager.pojo.Class">
        update class
        set class_name=#{class_name},
            class_teacherid=#{class_teacherid}
        where class_id=#{class_id}
    </update>
    <insert id="insertClass" parameterType="com.cqu.stu_manager.pojo.Class">
        insert  into class values(#{class_id},#{class_name},#{class_teacherid})
    </insert>
    <select id="findClassById" parameterType="com.cqu.stu_manager.pojo.Class" resultType="com.cqu.stu_manager.pojo.Class">
        select * from class where class_teacherid=#{class_teacherid}
    </select>
    <select id="findClassByTeacher" resultType="String">
        select class_name from class where class_teacherid=#{teacherID}
    </select>
</mapper>