<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.CollegeEntranceExaminationMapper">
    <select id="findStudentCollegeEntranceExamination" resultType="com.cqu.stu_manager.pojo.CollegeEntranceExamination">
        select * from college_entrance_examination where college_entrance_examination_stu_no=#{stuno}
    </select>

    <update id="updateEntranceInfo" parameterType="com.cqu.stu_manager.pojo.CollegeEntranceExamination">
        update college_entrance_examination
        set  college_entrance_examination_no = #{college_entrance_examination_no},
        college_entrance_examination_highschool_name = #{college_entrance_examination_highschool_name},
        college_entrance_examination_type = #{college_entrance_examination_type},
        college_entrance_examination_chinese = #{college_entrance_examination_chinese},
        college_entrance_examination_math = #{college_entrance_examination_math},
        college_entrance_examination_english = #{college_entrance_examination_english},
        college_entrance_examination_comprehensive = #{college_entrance_examination_comprehensive}
        where  college_entrance_examination_stu_no = #{college_entrance_examination_stu_no}
    </update>
    <insert id="addcollegeEntranceExamination" parameterType="com.cqu.stu_manager.pojo.CollegeEntranceExamination">
         insert into college_entrance_examination (
            college_entrance_examination_no,
            college_entrance_examination_highschool_name,
            college_entrance_examination_type,
            college_entrance_examination_chinese,
            college_entrance_examination_math,
            college_entrance_examination_english,
            college_entrance_examination_comprehensive,
            college_entrance_examination_stu_no

         )values (
                #{college_entrance_examination_no},
                #{college_entrance_examination_highschool_name},
                #{college_entrance_examination_type},
                #{college_entrance_examination_chinese},
                #{college_entrance_examination_math},
                #{college_entrance_examination_english},
                #{college_entrance_examination_comprehensive},
                #{college_entrance_examination_stu_no}

                          )
    </insert>
</mapper>