<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.ContestMapper">
    <select id="findAllContest" resultType="com.cqu.stu_manager.pojo.Contest">
        select * from contest
    </select>
    <insert id="insertContestByStudent" parameterType="com.cqu.stu_manager.pojo.Contest">
        insert into contest
        (
        contest_no,
        contest_name,
        contest_projectname,
        contest_grantingdepartment,
        contest_level,
        contest_ranking,
        contest_date,
        contest_teachername,
        contest_teacherdept,
        contest_stuname,
        contest_stuno,
        contest_issubmitcertificate,
        contest_year,
        contest_supporting_materials,
        contest_status
        )values
        (
        #{contest_no},
        #{contest_name},
        #{contest_projectname},
        #{contest_grantingdepartment},
        #{contest_level},
        #{contest_ranking},
        #{contest_date},
        #{contest_teachername},
        #{contest_teacherdept},
        #{contest_stuname},
        #{contest_stuno},
        #{contest_issubmitcertificate},
        #{contest_year},
        #{contest_supporting_materials},
        #{contest_status}
        )
    </insert>
    <select id="findContestByStuno" parameterType="com.cqu.stu_manager.pojo.Student" resultType="com.cqu.stu_manager.pojo.Contest">
        select * from contest where contest_stuno =#{stu_no}
    </select>

</mapper>