<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.DevelopmentPlanningMapper">
  
<select id="findAllDevelopment" resultType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
    select  * from development_planning
</select>

    <select id="findPlanByStuNo" resultType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
        select  * from development_planning where development_planning_stu_no=#{stu_no}
    </select>

    <insert id="insertPlan" parameterType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
        insert into development_planning(
        development_planning_no,
        development_planning_stu_no,
        development_planning_stu_name,
        development_planning_stu_class,
        development_planning_room,
        development_planning_gpa,
        development_planning_nopass_point,
        development_planning_wish,
        development_planning_planone,
        development_planning_plantwo,
        development_planning_summary,
        development_planning_howtonextyear,
        development_planning_howtonext2year,
        development_planning_thisyearplan,
        development_planning_successful_experience,
        development_planning_details,
        development_planning_familymean,
        development_planning_status,
        development_planning_family_status,
        year,
        year2
        ) values (
         #{development_planning_no},
         #{development_planning_stu_no},
         #{development_planning_stu_name},
         #{development_planning_stu_class},
         #{development_planning_room},
         #{development_planning_gpa},
         #{development_planning_nopass_point},
         #{development_planning_wish},
         #{development_planning_planone},
         #{development_planning_plantwo},
         #{development_planning_summary},
        #{ development_planning_howtonextyear},
        #{development_planning_howtonext2year},
        #{development_planning_thisyearplan},
        #{development_planning_successful_experience},
        #{development_planning_details},
        #{development_planning_familymean},
         #{development_planning_status},
         #{development_planning_family_status},
         #{year},
        #{year2}
                         )
    </insert>

    <update id="updatePlan" parameterType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
        update development_planning
        set
            development_planning_stu_no= #{development_planning_stu_no},
            development_planning_stu_name = #{development_planning_stu_name},
            development_planning_stu_class = #{development_planning_stu_class},
            development_planning_room = #{development_planning_room},
            development_planning_gpa = #{development_planning_gpa},
            development_planning_nopass_point = #{development_planning_nopass_point},
            development_planning_wish = #{development_planning_wish},
            development_planning_planone = #{development_planning_planone},
            development_planning_plantwo = #{development_planning_plantwo},
            development_planning_summary = #{development_planning_summary},
            development_planning_howtonextyear = #{development_planning_howtonextyear},
            development_planning_howtonext2year=#{development_planning_howtonext2year},
            development_planning_thisyearplan=#{development_planning_thisyearplan},
            development_planning_successful_experience=#{development_planning_successful_experience},
            development_planning_details=#{development_planning_details},
            development_planning_familymean=#{development_planning_familymean},
            development_planning_status = #{development_planning_status},
            development_planning_family_status = #{development_planning_family_status},
            year = #{year},
            year2=#{year2}

        where development_planning_no = #{development_planning_no}
    </update>

    <update id="passPlan" parameterType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
        update development_planning
        set development_planning_status = '1'
        where where development_planning_no = #{development_planning_no}
    </update>

    <update id="rejectPlan" parameterType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
        update development_planning
        set development_planning_status = '0'
        where where development_planning_no = #{development_planning_no}
    </update>

    <update id="passPlan2" parameterType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
        update development_planning
        set development_planning_family_status = '1'
        where where development_planning_no = #{development_planning_no}
    </update>

    <update id="rejectPlan2" parameterType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
        update development_planning
        set development_planning_family_status = '0'
        where where development_planning_no = #{development_planning_no}
    </update>
    <select id="findPlanByYear" resultType="com.cqu.stu_manager.pojo.DevelopmentPlanning">
        select *from development_planning  where development_planning_no = #{development_planning_no}
    </select>
</mapper>