<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.FamilyMapper">
   <select id="findMainmember" resultType="com.cqu.stu_manager.pojo.Family">
       select * from family where family_stu_no=#{stuno} and family_ismain="是"
   </select>
    <select id="findAllMembers" resultType="com.cqu.stu_manager.pojo.Family">
        select * from family where family_stu_no=#{stuno}
    </select>
    <update id="updateFamilyInfo" parameterType="com.cqu.stu_manager.pojo.Family">
        update family
        set
        family_name = #{family_name},
        family_age = #{family_age},
        family_tel = #{family_tel},
        family_work = #{family_work},
        family_duties = #{family_duties},
        family_workplace = #{family_workplace},
        family_ismain = #{family_ismain}
        where family_stu_no = #{family_stu_no} and family_relationship = #{family_relationship}
    </update>

</mapper>