<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.PaperMapper">
    <select id="findAllStuPaper" resultType="com.cqu.stu_manager.pojo.Paper">
        select * from paper
    </select>

    <insert id="insertPaperByStudent" parameterType="com.cqu.stu_manager.pojo.Paper">
        insert into paper(paper_no,
            paper_stuno,
            paper_stuname,
            paper_name,
            paper_periodical,
            paper_publicationTime,
            paper_iscscd,
            paper_sciSearchNumber,
            paper_eiSearchNumber,
            paper_year,
            paper_supporting_materials,
            paper_status
        )
        values
               ( #{paper_no},
                #{paper_stuno},
                #{paper_stuname},
                #{paper_name},
                #{paper_periodical},
                #{paper_publicationTime},
                #{paper_iscscd},
                #{paper_sciSearchNumber},
                #{paper_eiSearchNumber},
                #{paper_year},
                #{paper_supporting_materials},
                #{paper_status}
)
    </insert>

    <select id="findPaperByStuno"  parameterType="com.cqu.stu_manager.pojo.Student" resultType="com.cqu.stu_manager.pojo.Paper">
        select * from paper where paper_stuno=#{stu_no}
    </select>
    <update id="updatePaperByPaperNo" parameterType="com.cqu.stu_manager.pojo.Paper">
        update paper set  paper_stuno=#{paper_stuno},
                            paper_stuname=#{paper_stuname},
                            paper_name=#{paper_name},
                            paper_periodical=#{paper_periodical},
                            paper_publicationTime=#{paper_publicationTime},
                            paper_iscscd=#{paper_iscscd},
                            paper_sciSearchNumber=#{paper_sciSearchNumber},
                            paper_eiSearchNumber=#{paper_eiSearchNumber},
                            paper_year=#{paper_year},
                            paper_supporting_materials=#{paper_supporting_materials},
                            paper_status=#{paper_status}
                            where paper_no=#{paper_no}
    </update>

</mapper>