<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.ProjectMapper">
    <select id="findAllProject" resultType="com.cqu.stu_manager.pojo.Project">
        select * from project
    </select>
    <insert id="insertProjectByStudent" parameterType="com.cqu.stu_manager.pojo.Project">
        insert into project
        (
            project_no,
            project_name,
            project_unit,
            project_type,
            project_status,
            project_join_time,
            project_teacher_name,
            project_teacher_dept,
            project_student_name,
            project_student_no,
            project_issubmit,
            project_year,
            project_supporting_materials,
            project_audit_status
            ) values
            (
                #{project_no},
                #{project_name},
                #{project_unit},
                #{project_type},
                #{project_status},
                #{project_join_time},
                #{project_teacher_name},
                #{project_teacher_dept},
                #{project_student_name},
                #{project_student_no},
                #{project_issubmit},
                #{project_year},
                #{project_supporting_materials},
                #{project_audit_status}

            )
    </insert>
    <select id="findProjectByStuno" parameterType="com.cqu.stu_manager.pojo.Student" resultType="com.cqu.stu_manager.pojo.Project">
select * from project where project_student_no=#{stu_no}
    </select>

</mapper>