<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.ReceiveMapper">
    <insert id="addReceiver" parameterType="com.cqu.stu_manager.pojo.Receive">
            insert into receive(receive_no,msg_no2,receiver,status) values (#{receive_no},#{msg_no2},#{receiver},#{status})
    </insert>
    <select id="findAlreadyReady" parameterType="com.cqu.stu_manager.pojo.Receive">
            select count(*) from receive where msg_no2=#{meg_no2} and status=0
    </select>
</mapper>

