<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.TeacherMapper">
    <select id="findAllTeacher" resultType="com.cqu.stu_manager.pojo.Teacher">
        select * from teacher
    </select>
    <select id="findTeacherById" resultType="com.cqu.stu_manager.pojo.Teacher" parameterType="int">
        select * from teacher where t_no=#{teacherId}
    </select>
    <update id="upDateTeacherInfo" parameterType="com.cqu.stu_manager.pojo.Teacher" >
        update teacher
        set
            t_name=#{t_name},
            t_telephone=#{t_telephone},
            t_officeroom=#{t_officeroom},
            t_identity=#{t_identity}
        where
            t_no=#{t_no}
    </update>
    <update id="upDatePassword" parameterType="com.cqu.stu_manager.pojo.Teacher" >
        update teacher
        set
            t_password=#{t_passwprd}
        where
            t_no=#{t_no}
    </update>

</mapper>