<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.Voluntary_activitiesMapper">
    <select id="findAllVoluntary_activities" resultType="com.cqu.stu_manager.pojo.Voluntary_activities">
        select * from voluntary_activities
    </select>

</mapper>