<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqu.stu_manager.mapper.Voluntary_activitiesMapper">
    <select id="findAllVoluntary_activities" resultType="com.cqu.stu_manager.pojo.Voluntary_activities">
        select * from voluntary_activities
    </select>
    <insert id="insertVoluntary_activitiesByStudent" parameterType="com.cqu.stu_manager.pojo.Voluntary_activities">
        insert  into voluntary_activities
            (
                voluntary_activities_no,
                voluntary_activities_stu_name,
                voluntary_activities_studept,
                voluntary_activities_stu_no,
                voluntary_activities_time_from_to,
                voluntary_activities_time_long,
                voluntary_activities_content,
                voluntary_activities_status,
                voluntary_activities_name,
                voluntary_activities_url
            )values
                    (
                        #{voluntary_activities_no},
                        #{voluntary_activities_stu_name},
                        #{voluntary_activities_studept},
                        #{voluntary_activities_stu_no},
                        #{voluntary_activities_time_from_to},
                        #{voluntary_activities_time_long},
                        #{voluntary_activities_content},
                        #{voluntary_activities_status},
                        #{voluntary_activities_name},
                        #{voluntary_activities_url}
                    )
    </insert>
    <select id="findVoluntary_activitiesByStuno" parameterType="com.cqu.stu_manager.pojo.Student" resultType="com.cqu.stu_manager.pojo.Voluntary_activities">
        select * from voluntary_activities where voluntary_activities_stu_no=#{stu_no}
    </select>
    <update id="updateVoluntary_activitiesByStudent" parameterType="com.cqu.stu_manager.pojo.Voluntary_activities">
        update voluntary_activities
        set
            voluntary_activities_stu_name = #{voluntary_activities_stu_name},
            voluntary_activities_studept = #{voluntary_activities_studept},
            voluntary_activities_stu_no = #{voluntary_activities_stu_no},
            voluntary_activities_time_from_to = #{voluntary_activities_time_from_to},
            voluntary_activities_time_long = #{voluntary_activities_time_long},
            voluntary_activities_content = #{voluntary_activities_content},
            voluntary_activities_status = #{voluntary_activities_status},
            voluntary_activities_name = #{voluntary_activities_name},
            voluntary_activities_url = #{voluntary_activities_url}
        where voluntary_activities_no = #{voluntary_activities_no}
    </update>

    <delete id="deleteActivity" parameterType="com.cqu.stu_manager.pojo.Voluntary_activities">
        delete
        from voluntary_activities
        where voluntary_activities_no = #{voluntary_activities_no}
    </delete>

    <update id="pass_activity" parameterType="com.cqu.stu_manager.pojo.Voluntary_activities">
        update voluntary_activities
        set voluntary_activities_status = '1'
        where voluntary_activities_no = #{voluntary_activities_no}
    </update>

    <update id="refuse_activity" parameterType="com.cqu.stu_manager.pojo.Voluntary_activities">
        update voluntary_activities
        set voluntary_activities_status = '2'
        where voluntary_activities_no = #{voluntary_activities_no}
    </update>

</mapper>